<div class="container-fluid">
  <div class="container">
    <div class="jumbotron">
      <h1>
        <small>Welcome to</small>
        <br>
        <strong>アゴラ</strong>
      </h1>
      <p>
        このサイトは、熊本の学生の学びをサポートする学習プラットフォームです
        <br>
        様々な人との交流から、新たな学びを見つけてみませんか？
      </p>
      <p>
        <%= link_to '登録する', signup_path, class: "btn btn-lg btn-info" %>
      </p>
    </div>
  </div>
  
</div>

<section id="about">
  <div class="container">
    <div class="title text-center">
      <h1>How to use</h1>
    </div>
    <div class="row features">
      <div class="col-md-4 text-center wow fadeInUp" data-wow-delay="100ms" style="visibility: visible; animation-delay: 100ms; animation-name: fadeInUp;">
        <span><i class="fas fa-comments fa-4x"></i></span>
        <h4><strong>質問する</strong></h4>
        <p>勉強や大学生活でわからないこと、誰かに相談したいことがあったら、ここで質問してみてください。<br>誰かが答えてくれるかもしれません。</p>
      </div>
      <div class="col-md-4 text-center wow fadeInUp" data-wow-delay="300ms" style="visibility: visible; animation-delay: 100ms; animation-name: fadeInUp;">
        <span><i class="fas fa-comments fa-4x"></i></span>
        <h4><strong>回答する</strong></h4>
        <p>自分が答えられそうな質問を見つけたら、ぜひ回答してみてください。<br>あなたの知識や経験が誰かの役に立ちます。</p>
      </div>
      <div class="col-md-4 text-center wow fadeInUp" data-wow-delay="500ms" style="visibility: visible; animation-delay: 100ms; animation-name: fadeInUp;">
        <span><i class="fas fa-comments fa-4x"></i></span>
        <h4><strong>発信する</strong></h4>
        <p>日々の学びを発信してみてください。<br>発信することは、学んだ内容の定着につながります。また、投稿を見た人の役に立つかもしれません。</p>
      </div>
    </div>
  </div>
</section>

<section></section>
