<h1>Password reset</h1>

<p>下記のリンクをクリックしてパスワードをリセットしてください。</p>

<%= link_to "Reset password", edit_password_reset_url(@user.reset_token,
                                                      email: @user.email) %>

<p>このリンクの有効期限は２時間です。</p>

<p>
お心当たりのない場合はこのメールを無視してください。<br>
メールアドレスとパスワードはそのままです。
</p>