<% provide(:title, 'ユーザー') %>

<div class="row">
  <div class="index-top">
    <div class="col-sm-3">
      <h3>ユーザー</h3>
    </div>
    <div class="col-sm-8">
    </div>
    <div class="col-sm-1 narrow-down">
      <%= link_to users_path, remote: true do %>
        <i class="fas fa-search fa-2x" style="color:black;"></i>
      <% end %>
    </div>
    
  </div>
</div>

<ul class="users">
  <%= render @users %>   <%# @usersはUserオブジェクトのリストであると処理される %>
</ul>

<div class="pagenate">
  <%= will_paginate @users, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
</div>