<div class="left-button">
  <h4 class="rooms-title">会話</h4>
  <% @entries.each do |e| %>
    <div class="user-name">
      <strong><%# link_to gravatar_for(@another_entries.user, size: 25), user_path(@another_entries.user) %>
              <%= link_to e.user.name, e.user %>&nbsp;さん
      </strong>
    </div>
  <% end %>
</div>
<hr>
<div class="chats">
  <div class="chat_scroll">
    <% if @messages.present? %>
      <% @messages.each do |m| %>
        <div id="message_#{m.id}">
          <div class="chatbo">
            <div class="chat-face1">
              <%# link_to gravatar_for(@another_entries.user, size: 25), user_path(@another_entries.user) %>
              <div class="chat-hukidashi"></div>
              <%= m.user.name %>
              <br>
              <%= m.message %>
              <br>
              <%= m.created_at.strftime("%Y-%m-%d %H:%M") %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>