<% provide(:title, "質問一覧") %>

<div class="row">
  <div class="index-top">
    <div class="col-sm-3">
      <h3>質問一覧</h3>
    </div>
    <div class="col-sm-8">
    </div>
    <div class="col-sm-1 narrow-down">
      <%= link_to microposts_path, remote: true do %>
        <i class="fas fa-search fa-2x" style="color:black;"></i>
      <% end %>
    </div>
  </div>
  <%= render partial: 'shared/feed', locals: {feed_items: @feed_items, like: @like} %>
  <div class="pagenate">
    <%= will_paginate @feed_items, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
  </div>
</div>