<% provide(:title, "About") %>

<h1>投稿詳細</h1>
<div>
  <%= @micropost.content %>
  <div>
    <%= @micropost.created_at %>
  </div>
  <div>
    <%= @micropost.id %>
  </div>
  <div>
    <%# @user.major_id %>
  </div>
</div>