.black-link{
  color: black;
}

.microposts {
  width: 100%;
  flex-wrap: wrap; //折り返し
  justify-content: center;
  display: inline-flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
  margin: 0;
  li {
    flex: 0 0 auto; //伸ばすか 縮むか 謎
    position: relative;
    display: inline-block;
    display: inline-flex;
    flex-direction: column;
    background-color: whitesmoke;
    margin: 15px 15px;
    padding: 5px 10px;
    width: 350px;
    height: 250px;
    border-radius: 3%;
    filter: drop-shadow(0 0px 3px rgba(0, 0, 0, .4));
    transition: filter .4s;
  }
  li:hover{
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, .4));
  }
  .category{
    height: 10%;
    color: rgba(0, 0, 0, 0.589);
    vertical-align: middle;
    overflow: hidden;
    font-size: 0.9rem;
    // border-bottom: solid 1px rgba(0, 0, 0, 0.274);
  }
  .who{
    height: 10%;
    margin-top: 5px;
    .gravatar {
      float: left;
      margin-right: 10px;
      vertical-align: middle;
    }
    .user {
      vertical-align: middle;
    }
  }
  .content {
    text-align: center;
    width: 100%;
    height: 70%;
    padding: 15px 5px;
    overflow: hidden; 
    .q-title{
      word-break: normal;
      text-align: left;
      font-weight: bold;
      margin-bottom: 5px;
    }
    .q-text{
      word-break: normal;
      text-align: left;
      padding-bottom: 10px;
    }
  }
  .timestamp {
    height: 10%;
    display: inline-flex;
    flex-direction: row;
    color: rgb(187, 184, 184);
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}

.index-top{
  display: inline-flex;
  flex-direction: row;
  width: 100%;
}

/* show-micropost */

.question{
  margin: 10px;
  .top{

  }
  .middle{
    padding: 10px 10px 10px 50px;
    .q-content{
      margin-bottom: 10px;
    }
    .q-pic{
      // display: flex;
      // flex-direction: row;
      // flex-wrap: wrap;
      margin-bottom: 10px;
      .pic-file{
        width: 150px;
        height: 150px;
        margin: 5px;
        // 画像の縦横比率を変えずに表示
        object-fit: contain;
      }
    }
  }
}

/* narrow down */

.narrow-down{
  display: inline-flex;
  flex-direction: row;
  .narrow-down-select{
  }
  .narrow-down-text{

  }
}
  